<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>{{ item.value.page_title }}</title>
    <meta name="description" content="Created with Ansible">
  </head>
  <body>
    <p>{{ item.value.page_description }}</p>
  </body>
</html>
